# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
