@import "tailwindcss";

@theme {
  --color-dark: #0a0e0f;
  --color-emerald-500: #10b981;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
